PORT = 5500 // Keep it as 5500 for the time being, will update this to be dynamic eventually. Change name to just .env

MONGODB_URI="YOUR_MONGODB_DATABASE"

JWT_SECRET="YOUR_JWT_SECRET"

JWT_EXPIRES_IN="1d"

COOKIE_EXPIRY_TIME = 86400000

PKMN_API="YOUR_API"
